<div class="content">
	<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">備品管理システム</h4>
          </div>
          <div class="content">
            <div class="typo-line">
              <p>
                <span class="category">備品一覧</span>
                研究室にある備品を種類別に一覧表示します．
              </p>
            </div>
            <div class="typo-line">
              <p>
                <span class="category">貸出希望</span>
                借りたい備品があれば，貸出を希望できます．
              </p>
            </div>
            <div class="typo-line">
              <p>
                <span class="category">購入希望</span>
                購入したい物品があれば，楽天市場で検索して購入希望を出せます．
              </p>
            </div>
            <div class="typo-line">
              <p>
                <span class="category">購入希望リスト</span>
                購入希望がある物品を一覧表示します．また，その合計金額を計算できます．（管理者のみ）
              </p>
            </div>
            <div class="typo-line">
              <p>
                <span class="category">目安箱</span>
                匿名で意見を述べることができます．
              </p>
            </div>
            <div class="typo-line">
              <p>
                <span class="category">リスト編集</span>
                備品一覧にある備品を追加・編集・削除できます．（管理者のみ）
              </p>
            </div>
            <div class="typo-line">
              <p>
                <span class="category">ユーザ一覧</span>
                ユーザを削除したり，管理者に指定したりできます．（管理者のみ）
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
