<form action="/signup" method="post">
    <input type="text" name="mail" placeholder="Eメール"><br>
    <select name="grade">
      <option value="1">B3</option>
      <option value="2">B4</option>
      <option value="3">M1</option>
      <option value="4">M2</option>
      <option value="5">D1</option>
      <option value="6">D2</option>
      <option value="7">D3</option>
    </select><br>
    <input type="password" name="password" placeholder="パスワード"><br>
    <input type="password" name="password_confirmation" placeholder="パスワードの確認"><br>
    <input type="submit" value="新規登録">
</form>
